<div class="page">
  <% navbars.each do |navbar| %>
    <%= navbar %>
  <% end %>
  <div class="page-wrapper">
    <div class="page-body">
      <div class="container-xl">
        <%= content %>
      </div>
    </div>
  </div>
</div>
